body{
    padding: 70px;
}

.list-group-item{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
p{
    margin: 0px;
    cursor: pointer;
}

.complete{
    text-decoration: line-through;
}